{% extends "./default.html" %}

{% import "./macros.html" as macros %}

{% block content %}

	<link href="../../assets/css/landingpages.min.css" rel="stylesheet">
	<div class="landing_page {{ pageClassName }} {{ pageClassName }}--{{ lang }}">

		<div class="lp_header">
			<div class="lp_container">
				<h1 class="lp_title">{{ pageTitle | safe }}</h1>
			</div>
		</div>
		
		<div id="lp_section_1" class="lp_section img_section">
			<div class="overlay">
				<div class="lp_container">
					<h2 class="lp_heading">{{ s1Heading | safe }}{% if s1Subheading %}<br/><span class="lp_subheading">{{ s1Subheading | safe }}</span>{% endif %}</h2>
				</div>
			</div>
		</div>
	
		<div id="lp_section_2" class="lp_section img_section">
			<div class="lp_container">
				<div class="lp_copy">
					<p>{{ s2Text | safe }}</p>
				</div>
			</div>
		</div>

		<div id="lp_section_3" class="lp_section img_section">
			<div class="lp_pos_bottom">
				<div class="lp_container">
					<div class="lp_copy">
						<h2 class="lp_heading">{{ s3Heading | safe }}</h2>
						<p>{{ s3Text | safe }}</p>
					</div>
				</div>
			</div>
		</div>

		<div id="lp_section_4" class="lp_section">
			<h2 class="lp_heading">{{ s4Heading | safe }}</h2>
			<div class="lp_columns">
				<div class="lp_column">
					<div id="lp_s4_col1_img" class="lp_column_img"></div>
					<div class="lp_column_text">
						<p>{{ s4Text1 | safe }}</p>
					</div>
				</div>
				<div class="lp_column">
					<div id="lp_s4_col2_img" class="lp_column_img"></div>
					<div class="lp_column_text">
						<p>{{ s4Text2 | safe }}</p>
					</div>
				</div>
				<div class="lp_column">
					<div id="lp_s4_col3_img" class="lp_column_img"></div>
					<div class="lp_column_text">
						<p>{{ s4Text3 | safe }}</p>
					</div>
				</div>
			</div>
		</div>

		<div id="lp_section_5" class="lp_section products_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s5Heading | safe }}</h2>
					<p>{{ s5Text | safe }}</p>
				</div>
				<div class="lp_product_grid">
					<div class="lp_product_row">
						{{ macros.productWithDescription(s5Product1) }}
						{{ macros.productWithDescription(s5Product2) }}
						{{ macros.productWithDescription(s5Product3) }}
					</div>
				</div>
			</div>
		</div>
	
		<div id="lp_section_6" class="lp_section">
			<div class="lp_container">
				<div class="lp_testimonial_grid">
					<div class="lp_testimonial_row">
						{{ macros.testimonial({heading:"Exactly what I was looking for.", text:"This jacket is precisely what I wanted - lightweight yet quite warm, holds off the wind, and fits perfectly. Not overly slim, but not baggy at all either.", author:"Ziggy14", rating:5, product:"Atom AR Jacket"}) }}
						{{ macros.testimonial({heading:"Most versatile mid out there!!", text:"This piece offers year round comfort in various conditions. The Atom serves me well while skiing under my outer shell, or even as a standalone around town. I can’t believe how weather resistant it is!!", author:"SackJhelburne", rating:5, product:"Atom LT Hoody"}) }}
					</div>
					<div class="lp_testimonial_row">
						{{ macros.testimonial({heading:"Je ne peux plus m’en passer!", text:"Seule ou en sous-couche elle est très efficace et permet une grande libertè de mouvement, que demander de mieux? Même après un an d’usure elle paraît comme neuve. Sans exagèrer c’est mon meilleur achat.", author:"DoDu", rating:5, product:"Atom LT Hoody"}) }}
						{{ macros.testimonial({heading:"Kleiner ofen.", text:"Die Vorzüge sind schnell aufgezählt: extrem klein verpackbar, warm, winddicht, wasserabweisend und selbst bei grosser Anstrengung keine Hitzestau. Die Nachteile sind noch schnelle aufgezählt - nämlich keine.", author:"FK1KN", rating:5, product:"Atom LT Vest"}) }}
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}