{% extends "./default.html" %}

{% block content %}
	{% if lang == 'fr' %}
		{% set bannerShopLinksText = 'Acheter cet ENSEMBLE:' %}
		{% set bannerVideoLabelText = 'VIDÉO:' %}
	{% elseif lang == 'de' %}
		{% set bannerShopLinksText = 'Zum OUTFIT:' %}
		{% set bannerVideoLabelText = 'Video:' %}
	{% elseif lang == 'no' %}
		{% set bannerShopLinksText = 'Shop dette ANTREKKET:' %}
		{% set bannerVideoLabelText = 'Video:' %}
	{% elseif lang == 'jp' %}
		{% set bannerShopLinksText = 'このセットを購入:' %}
		{% set bannerVideoLabelText = 'ビデオ:' %}
	{% elseif lang == 'zh' %}
		{% set bannerShopLinksText = '购买这款套装:' %}
		{% set bannerVideoLabelText = '视频:' %}
	{% else %}
		{% set bannerShopLinksText = 'Shop this outfit:' %}
		{% set bannerVideoLabelText = 'Video:' %}
	{% endif %}

	<link href="../../assets/css/banners.min.css" rel="stylesheet">
	<div class="banner {{ bannerClassName }} {{ bannerClassName }}--{{ lang }}">
		<div class="banner_image">
			{% if bannerCallout %}
			<div class="banner_callout">
				<a href="{{ bannerCallout.url }}">{{ bannerCallout.text | safe }}</a>
			</div>
			{% endif %}
		</div>
		<div class="banner_copy">
			{% if bannerHeading %}
			<h1 class="banner_heading">{{ bannerHeading | safe }}{% if bannerSubheading %}<br/><span class="banner_subheading">{{ bannerSubheading | safe }}</span>{% endif %}</h1>
			{% endif %}
			{% if bannerParagraph %}
			<p class="banner_paragraph">{{ bannerParagraph | safe }} {% if bannerParagraphLink %}<a href="{{ bannerParagraphLink.url }}">{{ bannerParagraphLink.text }}</a>{% endif %}</p>
			{% endif %}
			{% if bannerCTA %}
			<a class="banner_cta btn" href="{{ bannerCTA.url }}">{{ bannerCTA.text }}</a>
			{% endif %}
		</div>

		{% if voltairSteps %}
		<div class="voltair_steps">
			<div class="v_step v_step_1">
				<div class="v_step_image">
					<img src="../../assets/images/banners/voltair-step-1.jpg" />
				</div>
				<div class="v_step_copy">
					<p class="v_step_label">{{ voltairSteps.voltairStep1.stepText | safe }}</p>
					<p class="v_step_text">{{ voltairSteps.voltairStep1.text | safe }}</p>
				</div>
			</div>
			<div class="v_step v_step_2">
				<div class="v_step_image">
					<img src="../../assets/images/banners/voltair-step-2.jpg" />
				</div>
				<div class="v_step_copy">
					<p class="v_step_label">{{ voltairSteps.voltairStep2.stepText | safe }}</p>
					<p class="v_step_text">{{ voltairSteps.voltairStep2.text | safe }}</p>
				</div>
			</div>
			<div class="v_step v_step_3">
				<div class="v_step_image">
					<img src="../../assets/images/banners/voltair-step-3.jpg" />
				</div>
				<div class="v_step_copy">
					<p class="v_step_label">{{ voltairSteps.voltairStep3.stepText | safe }}</p>
					<p class="v_step_text">{{ voltairSteps.voltairStep3.text | safe }}</p>
				</div>
			</div>
		</div>
		{% endif %}

		{% if bannerShopLinks %}
		<div class="banner_bottom">
			<p class="banner_shop_text">{{ bannerShopLinksText }}</p>
			<p class="banner_shop_links">
				{% for link in bannerShopLinks %}
				<a href="{{ link.url }}">{{ link.text }}</a>{% if !loop.last %},&nbsp;{% endif %}
				{% endfor %}
			</p>
		</div>
		{% endif %}

		{% if bannerVideo %}
		<div class="banner_video">
			<a class="banner_video_link full-screen-video" href="{{ bannerVideo.url }}" target="_blank">
				<img src="../../assets/images/video-btn.png" alt="">
				<p class="banner_video_title">{{ bannerVideo.text | safe }}</p>
				<p class="banner_video_time">{{ bannerVideoLabelText }} {{ bannerVideo.time }}</p>
			</a>
		</div>
		{% endif %}
		
		{% if goretex %}
		<div class="goretex"></div>
		{% endif %}
	</div>
{% endblock %}