<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Arc'teryx</title>

  </head>
  <body>
    
    {% block content %}{% endblock %}

  </body>
</html>