{% extends "./empty.html" %}

{% block content %}

	<h2>Phase 1</h2>
	<h3>Category Page Banners</h3>
	<ul>
		<li>
			<a href="./category_page_banners/24-mens.html">24 - Mens</a>
		</li>
		<li>
			<a href="./category_page_banners/24-womens.html">24 - Womens</a>
		</li>
		<li>
			<a href="./category_page_banners/ascent-mens.html">Ascent - Mens</a>
		</li>
		<li>
			<a href="./category_page_banners/ascent-womens.html">Ascent - Womens</a>
		</li>
		<li>
			<a href="./category_page_banners/atoms.html">Atoms</a>
		</li>
		<li>
			<a href="./category_page_banners/climberhands.html">Climberhands</a>
		</li>
		<li>
			<a href="./category_page_banners/gender-mens.html">Gender - Mens</a>
		</li>
		<li>
			<a href="./category_page_banners/gender-womens.html">Gender - Womens</a>
		</li>
		<li>
			<a href="./category_page_banners/new_for_fall.html">New For Fall</a>
		</li>
		<li>
			<a href="./category_page_banners/procline_boot.html">Procline Boot</a>
		</li>
		<li>
			<a href="./category_page_banners/proton.html">Proton</a>
		</li>
		<li>
			<a href="./category_page_banners/satoro.html">Satoro</a>
		</li>
		<li>
			<a href="./category_page_banners/voltair.html">Voltair</a>
		</li>
		<li>
			<a href="./category_page_banners/voltair-2.html">Voltair 2</a>
		</li>
		<li>
			<a href="./category_page_banners/whiteline-mens.html">Whiteline - Mens</a>
		</li>
		<li>
			<a href="./category_page_banners/whiteline-womens.html">Whiteline - Womens</a>
		</li>
	</ul>
	<h3>Landing Pages</h3>
	<ul>
		<li>
			<a href="./landing_pages/new_for_fall.html">New For Fall</a>
		</li>
	</ul>

{% endblock %}