{% extends "./empty.html" %}

{% block content %}

	<h2>Phase 2</h2>
	<h3>Landing Pages</h3>
	<ul>
		<li>
			<a href="./landing_pages/atom.html">Atom</a>
		</li>
	</ul>
	<h3>Lookbook Widgets</h3>
	<ul>
		<li>
			<a href="./lookbook_widgets/mens-city-ames.html">Men's City Ames</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-city-bike.html">Men's City Bike</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-city-therme.html">Men's City Therme</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-freeride.html">Men's Freeride</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-ice-climbing.html">Men's Ice Climbing</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-mountain-life.html">Men's Mountain Life</a>
		</li>
		<li>
			<a href="./lookbook_widgets/mens-ski-voltair.html">Men's Ski Voltair</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-city-bike.html">Women's City Bike</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-city-patera.html">Women's City Patera</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-endo.html">Women's Endo</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-freeride.html">Women's Freeride</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-ice-climbing.html">Women's Ice Climbing</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-mountain-life.html">Women's Mountain Life</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-ski-ravenna.html">Women's Ski Ravenna</a>
		</li>
		<li>
			<a href="./lookbook_widgets/womens-ski-voltair.html">Women's Ski Voltair</a>
		</li>
	</ul>

{% endblock %}