{% macro product(product) %}

	<div class="lp_product">
		<a href="{{ product.url }}">
			<img src="{{ product.img }}"/><br/>
			{{ product.text | safe }}
		</a>
	</div>

{% endmacro %}

{% macro productWithDescription(product) %}

	<div class="lp_product lp_product_with_description">
		<img src="{{ product.img }}"/><br/>
		<div class="lp_product_copy">
			<p class="lp_product_name">{{ product.text | safe }}</p>
			<p class="lp_product_description">{{ product.description | safe }}</p>
			<a class="btn no_hover" href="{{ product.cta.url }}">{{ product.cta.text }}</a>
		</div>
	</div>

{% endmacro %}

{% macro testimonial(testimonial) %}

	<div class="lp_testimonial">
		<p class="lp_testimonial_quote"><span class="lp_testimonial_heading">{{ testimonial.heading | safe }}</span><br>{{ testimonial.text | safe }}</p>
		<p class="lp_testimpnial_credit">
			<span class="lp_tesimonial_author">– {{ testimonial.author | safe }}</span><br>
			<span class="lp_tesimonial_rating">{% if testimonial.rating %}{% for i in Array(testimonial.rating) %}<img src="../../assets/images/star.gif" alt="star"/>{% endfor %}{% endif %}</span><br>
			<span class="lp_tesimonial_product">({{ testimonial.product | safe }})
		</p>
	</div>

{% endmacro %}