{% extends "./default.html" %}

{% import "./macros.html" as macros %}

{% block content %}

	<link href="../../assets/css/landingpages.min.css" rel="stylesheet">
	<div class="landing_page {{ pageClassName }} {{ pageClassName }}--{{ lang }}">

		<div class="lp_header">
			<div class="lp_container">
				<h1 class="lp_title">{{ pageTitle | safe }}</h1>
			</div>
		</div>
		
		<div id="lp_section_1" class="lp_section img_section">
			<div class="overlay">
				<div class="lp_container">
					<h2 class="lp_heading">{{ s1Heading | safe }}{% if s1Subheading %}<br/><span class="lp_subheading">{{ s1Subheading | safe }}</span>{% endif %}</h2>
				</div>
			</div>
		</div>
	
		<div id="lp_section_2" class="lp_section">
			<div class="lp_container">
				<div class="lp_copy">
					<p>{{ s2Text | safe }}</p>
					<a href="{{ s2CTA1.url }}" class="btn no_hover">{{ s2CTA1.text }}</a><a href="{{ s2CTA2.url }}" class="btn no_hover">{{ s2CTA2.text }}</a>
				</div>
			</div>
		</div>
	
		<div id="lp_section_3" class="lp_section img_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s3Heading | safe }}</h2>
					<p>{{ s3Text | safe }}</p>
					<a href="{{ s3Video }}" class="lp_video_link full-screen-video" target="_blank"><img src="../../assets/images/video-btn.png" alt=""></a>
				</div>
			</div>
		</div>

		<div id="lp_section_4" class="lp_section img_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s4Heading | safe }}</h2>
					<p>{{ s4Text | safe }}</p>
					<a href="{{ s4CTA.url }}" class="btn">{{ s4CTA.text }}</a>
				</div>
				<div class="goretex"></div>
			</div>
		</div>

		<div id="lp_section_5" class="lp_section img_section"></div>

		<div id="lp_section_6" class="lp_section products_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s6Heading | safe }}</h2>
					<p>{{ s6Text | safe }}</p>
				</div>
				<div class="lp_product_grid">
					<div class="lp_product_row">
						{{ macros.product(s6Product1) }}
						{{ macros.product(s6Product2) }}
						{{ macros.product(s6Product3) }}
						{{ macros.product(s6Product4) }}
					</div>
					<div class="lp_product_row">
						<div id="lp_product_grid_img_1" class="lp_product_grid_img"></div>
						{{ macros.product(s6Product5) }}
						{{ macros.product(s6Product6) }}
					</div>
					<div class="lp_product_row">
						{{ macros.product(s6Product7) }}
						{{ macros.product(s6Product8) }}
						{{ macros.product(s6Product9) }}
						{{ macros.product(s6Product10) }}
					</div>
				</div>
				<p><a href="{{ s6CTA.url }}" class="btn no_hover">{{ s6CTA.text }}</a></p>
			</div>
		</div>
	
		<div id="lp_section_7" class="lp_section img_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s7Heading | safe }}</h2>
					<p>{{ s7Text | safe }}</p>
					<a href="{{ s7CTA1.url }}" class="btn">{{ s7CTA1.text | safe }}</a>
					<a href="{{ s7CTA2.url }}" class="btn">{{ s7CTA2.text | safe }}</a>
				</div>
			</div>
		</div>

		<div id="lp_section_8" class="lp_section img_section"></div>

		<div id="lp_section_9" class="lp_section products_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s9Heading | safe }}</h2>
					<p>{{ s9Text | safe }}</p>
				</div>
				<div class="lp_product_grid">
					<div class="lp_product_row">
						{{ macros.product(s9Product1) }}
						{{ macros.product(s9Product2) }}
						<div id="lp_product_grid_img_2" class="lp_product_grid_img"></div>
					</div>
					<div class="lp_product_row">
						{{ macros.product(s9Product3) }}
						{{ macros.product(s9Product4) }}
						{{ macros.product(s9Product5) }}
						{{ macros.product(s9Product6) }}
					</div>
					<div class="lp_product_row">
						<div id="lp_product_grid_img_3" class="lp_product_grid_img"></div>
						{{ macros.product(s9Product7) }}
						{{ macros.product(s9Product8) }}
					</div>
					<div class="lp_product_row">
						{{ macros.product(s9Product9) }}
						{{ macros.product(s9Product10) }}
						{{ macros.product(s9Product11) }}
						{{ macros.product(s9Product12) }}
					</div>
				</div>
				<p><a href="{{ s9CTA.url }}" class="btn no_hover">{{ s9CTA.text | safe }}</a></p>
			</div>
		</div>

		<div id="lp_section_10" class="lp_section img_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s10Heading | safe }}</h2>
					<p>{{ s10Text | safe }}</p>
					<a href="{{ s10CTA1.url }}" class="btn">{{ s10CTA1.text | safe }}</a>
					<a href="{{ s10CTA2.url }}" class="btn">{{ s10CTA2.text | safe }}</a>
				</div>
			</div>
		</div>

		<div id="lp_section_11" class="lp_section img_section"></div>

		<div id="lp_section_12" class="lp_section products_section">
			<div class="lp_container">
				<div class="lp_copy">
					<h2 class="lp_heading">{{ s12Heading | safe }}</h2>
					<p>{{ s12Text | safe }}</p>
				</div>
				<div class="lp_product_grid">
					<div class="lp_product_row">
						{{ macros.product(s12Product1) }}
						{{ macros.product(s12Product2) }}
						{{ macros.product(s12Product3) }}
						{{ macros.product(s12Product4) }}
					</div>
					<div class="lp_product_row">
						{{ macros.product(s12Product5) }}
						{{ macros.product(s12Product6) }}
						<div id="lp_product_grid_img_4" class="lp_product_grid_img"></div>
					</div>
					<div class="lp_product_row">
						{{ macros.product(s12Product7) }}
						{{ macros.product(s12Product8) }}
						{{ macros.product(s12Product9) }}
						{{ macros.product(s12Product10) }}
					</div>
					<div class="lp_product_row">
						<div id="lp_product_grid_img_5" class="lp_product_grid_img"></div>
						{{ macros.product(s12Product11) }}
						{{ macros.product(s12Product12) }}
					</div>
				</div>
				<p><a href="{{ s12CTA.url }}" class="btn no_hover">{{ s12CTA.text | safe }}</a></p>
			</div>
		</div>
	</div>


{% endblock %}