{% extends "./default.html" %}

{% block content %}
	{% if lang == 'fr' %}
		{% if !widgetHeading %}
			{% set widgetHeading = 'LOOKBOOK HIVER 2016' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'ACHETER CET ENSEMBLE', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = 'ACHETER CET ENSEMBLE' %}
		{% endif %}
	{% elseif lang == 'de' %}
		{% if !widgetHeading %}
			{% set widgetHeading = 'WINTER LOOKBOOK 2016' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'SHOP NOW', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = 'SHOP NOW' %}
		{% endif %}
	{% elseif lang == 'no' %}
		{% if !widgetHeading %}
			{% set widgetHeading = 'LOOKBOOK FOR VINTEREN 2016' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'SHOP DETTE ANTREKKET', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = 'SHOP DETTE ANTREKKET' %}
		{% endif %}
	{% elseif lang == 'jp' %}
		{% if !widgetHeading %}
			{% set widgetHeading = 'ルックブック 2016 年 冬' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'このセットを購入', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = 'このセットを購入' %}
		{% endif %}
	{% elseif lang == 'zh' %}
		{% if !widgetHeading %}
			{% set widgetHeading = '2016年冬季造型录' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'购买这款套装', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = '购买这款套装' %}
		{% endif %}
	{% else %}
		{% if !widgetHeading %}
			{% set widgetHeading = 'Winter 2016 Lookbook' %}
		{% endif %}
		{% if !widgetCTA %}
			{% set widgetCTA = {text:'Shop This Look', url:'#'} %}
		{% elseif !widgetCTA.text %}
			{% set widgetCTA.text = 'Shop This Look' %}
		{% endif %}
	{% endif %}
	
	<link href="../../assets/css/widgets.min.css" rel="stylesheet">
	<div class="widget {{ widgetClassName }} {{ widgetClassName }}--{{ lang }}">
		<div class="widget_copy">
			<img class="widget_logo" src="../../assets/images/arcteryx_logo.gif">
			{% if widgetHeading %}
			<h1 class="widget_heading">{{ widgetHeading | safe }}</h1>
			{% endif %}
			{% if widgetCTA %}
			<a class="widget_cta btn" href="{{ widgetCTA.url }}">{{ widgetCTA.text }}</a>
			{% endif %}
		</div>
		<div class="widget_image"></div>
	</div>
{% endblock %}