*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin:0px;
	padding:0px;
}

.btn{
	display:inline-block;
	padding:9px 16px 7px;
	background-color:#000;
	background-color:rgba(0,0,0,0.75);
	border:1px solid #fff;
	color:#fff;
	font-family: "Avenir LT W01 65 Medium",arial,sans-serif;
	font-size:14px;
	line-height:16px;
	text-decoration:none !important;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	transition: background-color 0.5s ease;	
	
	&.no_hover,
	&:hover{
		background-color:#000;
	}
}
