$tablet_bp: 768px;
$mobile_bp: 450px;

@mixin tablet {
	@media screen and (max-width: $tablet_bp) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $mobile_bp) {
		@content;
	}
}

@mixin custom_breakpoint($width) {
	@media screen and (max-width: $width + 'px') {
		@content;
	}
}


@mixin retina {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) { 
	  @content;
	}
}

