@import 'breakpoints';

$desk_width: 930px;
$desk_height:320px;
$tablet_width:768px;
$tablet_height:320px;
$mobile_width:450px;
$mobile_height:500px;


.banner{
	position: relative;
	height: $desk_height;
	width: 100%;
	max-width: $desk_width;
	margin: 0 auto;
	overflow: hidden;
	color:#fff;
		
	@include mobile{
		height: $mobile_height;
	}

	@import 'base';
	
	.banner_image{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background-color: transparent;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:cover;

		.banner_callout{
			position:absolute;
			padding:0px 10px;
			
			a{
				position:relative;
				display:inline-block;
				padding:5px 7px;
				background-color:#000;
				color:#fff;
				font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
				font-size:12px;
				line-height:16px;
				text-transform:uppercase;
				text-decoration:none !important;
	
				&:hover{
					text-decoration:none;
				}
				&:before{
					content:'';
					display:none;
					position:absolute;
					top:0px;
					left:-10px;
					border-top:13px solid transparent;
					border-bottom:13px solid transparent;
					border-right:10px solid #000;
				}
				&:after{
					content:'';
					display:none;
					position:absolute;
					top:0px;
					right:-10px;
					border-top:13px solid transparent;
					border-bottom:13px solid transparent;
					border-left:10px solid #000;
				}
			}
		}

	}

	.banner_copy{
		position:relative;
		padding:32px 32px 0px;

		@include tablet{
			padding:24px 24px 0px;
		}
		@include mobile{
			padding:16px 16px 0px;
		}
		
		.banner_heading{
			margin-bottom:8px;
			font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			font-size:22px;
			line-height:22px;
			text-transform:uppercase;
			color:inherit;
			
			.banner_subheading{
				font-size:18px;
			}
		}
		.banner_paragraph{
			font-size:14px;
			line-height:17px;
			color:inherit;
			
			@include mobile{
				display:none;
			}
			a{
				color:inherit;
				text-decoration:underline !important;
				text-transform: uppercase;
			}
		}
		.banner_cta{
			margin-top:12px;
		}
	}
	
	.voltair_steps{
		position:relative;
		color:inherit;
		text-align:center;
		font-size:14px;
		line-height:16px;
		
		.v_step{
			margin-top:10px;
			padding:0px 10px;
			width:33%;
			float:left;
								
			@include mobile{
				float:none;
				width:100%;
				height:115px;
			}
			
			.v_step_image{
				margin-bottom:8px;
				
				@include mobile{
					width:50%;
					float:left;
				}
				
				img{
					max-width:100%;
					max-height:125px;
					
					@include custom_breakpoint(600){
						max-height:110px;
					}
					@include custom_breakpoint(500){
						max-height:95px;
					}
					@include mobile{
						max-height:115px;
					}
				}
			}
			.v_step_copy{

				@include mobile{
					width:50%;
					float:left;
					text-align:left;
					padding:16px;
				}

				.v_step_label{
					text-transform: uppercase;	
					font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
					font-size:16px;
					margin-bottom:5px;
					
					span{
						display:inline-block;
						background-color:#fff;
						color:#000;
						width:19px;
						height:19px;
						padding-top:2px;
						border-radius:50%;
						text-align:center;
					}
				}
				.v_step_text{
					max-width:150px;
					margin:0px auto;
					
					@include mobile{
						max-width:none;
					}
				}
			}

			&:after{
				display:block;
				content:'';
				clear:both;
			}
			
			@include mobile{
				&.v_step_2{
					.v_step_image,
					.v_step_copy{
						float:right;
					}
				}
			}
		}
	}
	
	.banner_bottom{
		position:absolute;
		bottom:0px;
		left:0px;
		right:0px;
		padding:0px 32px 32px;
		font-size:11px;
		line-height:14px;
		color:inherit;
		
		@include tablet{
			padding:0px 24px 24px;
		}
		
		@include mobile{
			display:none;
		}

		.banner_shop_text{
			font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			text-transform:uppercase;
		}
		.banner_shop_links{
			
			a{
				text-decoration:underline !important;
				color:inherit;
			}
		}
	}
		
	.banner_video{
		position:absolute;
		bottom:0px;
		right:0px;
		padding:0px 16px 16px 0px;
		text-align:center;
				
		.banner_video_link{
			display:inline-block;
			width:90px;
			color:inherit;
			text-decoration:none;
			
			img{
				border:none;
			}
			.banner_video_title{
				margin-bottom:4px;
				font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
				font-size:15px;
				line-height:16px;
				text-transform:uppercase;
			}
			.banner_video_time{
				font-family: 'AvenirLTW01-55Oblique', arial, sans-serif;
				font-size:10px;
				line-height:12px;
			}
			
			&:hover{
				text-decoration:none !important;
			}
		}
	}
	
	.goretex{
		position:absolute;
		bottom:16px;
		right:16px;
		width:50px;
		height:50px;
		background:transparent url('../images/goretex.png') center center no-repeat;
		background-size:cover;
	}
}

@mixin banner_callout_x_pos($width, $bg_pos_percent, $callout_pos_px, $direction){	
	@if $direction == 'right' {
		$num_1: 100% - $bg_pos_percent;
		$num_2: $callout_pos_px - $width * (100% - $bg_pos_percent) / 100%;
		left: auto;
		right: calc(#{$num_1} + #{$num_2});
	}
	@else {
		$num_1: $bg_pos_percent;
		$num_2: $callout_pos_px - $width * $bg_pos_percent / 100%;
		left: calc(#{$num_1} + #{$num_2});
		right: auto;
	}
}
@mixin banner_callout_y_pos($height, $bg_pos_percent, $callout_pos_px){
	$num_2: $callout_pos_px - $height * $bg_pos_percent / 100%;
	top: calc(#{$bg_pos_percent} + #{$num_2});
}

@mixin banner_bg_and_callout_pos($width, $height, $image_x_pos, $image_y_pos, $callout_x_direction:'', $callout_x_pos:0px, $callout_y_pos:0px){
	background-position:$image_x_pos $image_y_pos;
	
	@if $callout_x_direction {
		.banner_callout{
			@include banner_callout_x_pos($width, $image_x_pos, $callout_x_pos, $callout_x_direction);
			@include banner_callout_y_pos($height, $image_y_pos, $callout_y_pos);
			
			a{
				@if $callout_x_direction == 'left'{
					text-align:left;
					&:before{
						display:block;
					}
					&:after{
						display:none;
					}
				}
				@if $callout_x_direction == 'right'{
					text-align:right;
					&:before{
						display:none;
					}
					&:after{
						display:block;
					}
				}
			}
		}
	}
}



.banner.twentyfour-mens{
	
	.banner_image{
		background-image:url('../images/banners/24-mens.jpg');
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 50%, 50%, 'left', 500px, 130px);
		
		@include tablet{
			background-image:url('../images/banners/24-mens_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 40%, 50%, 'left', 420px, 130px);
			@include retina{
				background-image:url('../images/banners/24-mens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/24-mens_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 55%, 50%, 'left', 210px, 310px);
			@include retina{
				background-image:url('../images/banners/24-mens_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#8d8668;
		}
	}
	.banner_copy{
		width:315px;
		
		@include tablet{
			width:300px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--fr .banner_copy{
		width:365px;

		@include tablet{
			width:350px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:240px;
		}
	}

	&--de .banner_copy{
		width:350px;

		@include tablet{
			width:335px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--no .banner_copy{
		width:355px;

		@include tablet{
			width:340px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:244px;
		}
	}
	
	&--zh .banner_copy{
		width:345px;

		@include tablet{
			width:330px;
		}
		@include mobile{
			width:auto;
		}
	}

	&--jp .banner_copy{
		width:395px;

		@include tablet{
			width:380px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:244px;
		}
	}
}



.banner.twentyfour-womens{
	
	.banner_image{
		background-image:url('../images/banners/24-womens.jpg');
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 100%, 50%, 'right', 265px, 140px);
		
		@include tablet{
			background-image:url('../images/banners/24-womens_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 45%, 50%, 'right', 275px, 170px);
			@include retina{
				background-image:url('../images/banners/24-womens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/24-womens_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 25%, 50%, 'right', 215px, 250px);
			@include retina{
				background-image:url('../images/banners/24-womens_mobile@2x.jpg');
			}
		}
		.banner_callout a span{
			color:#bf7dbd;
		}
	}
	.banner_copy{
		width:315px;
		
		@include tablet{
			width:300px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--fr .banner_copy{
		width:365px;

		@include tablet{
			width:350px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:240px;
		}
	}

	&--de .banner_copy{
		width:350px;

		@include tablet{
			width:335px;
		}
		@include mobile{
			width:auto;
		}
	}

	&--no .banner_copy{
		width:355px;

		@include tablet{
			width:340px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:244px;
		}
	}
	
	&--zh .banner_copy{
		width:350px;

		@include tablet{
			width:335px;
		}
		@include mobile{
			width:auto;
		}
	}

	&--jp .banner_copy{
		width:465px;

		@include tablet{
			width:350px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:244px;
		}
	}
}



.banner.ascent-mens{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/ascent-mens.jpg');
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 65%, 50%, 'right', 335px, 220px);

		@include tablet{
			background-image:url('../images/banners/ascent-mens_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 50%, 50%, 'right', 265px, 230px);
			@include retina{
				background-image:url('../images/banners/ascent-mens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/ascent-mens_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 30%, 50%, 'right', 160px, 370px);
			@include retina{
				background-image:url('../images/banners/ascent-mens_mobile@2x.jpg');
			}
		}
		
		.banner_callout a span{
			color:#e9221c;
		}
	}
	.banner_copy{
		width:410px;
		
		@include tablet{
			width:395px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--de .banner_copy{
		width:455px;

		@include tablet{
			width:440px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:365px;
			
			@include tablet{
				width:350px;
			}
		}
	}
}



.banner.ascent-womens{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/ascent-womens.jpg');
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 50%, 50%, 'left', 620px, 125px);

		@include tablet{
			background-image:url('../images/banners/ascent-womens_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 70%, 50%, 'left', 445px, 220px);
			@include retina{
				background-image:url('../images/banners/ascent-womens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/ascent-womens_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 60%, 50%, 'left', 150px, 350px);
			@include retina{
				background-image:url('../images/banners/ascent-womens_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#5785d3;
		}
	}
	.banner_copy{
		width:410px;
		
		@include tablet{
			width:395px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--de .banner_copy{
		width:455px;

		@include tablet{
			width:440px;
		}
		@include mobile{
			width:auto;
		}
		.banner_paragraph{
			width:365px;
			
			@include tablet{
				width:350px;
			}
		}
	}
}



.banner.atoms{
	
	.banner_image{
		background-image:url('../images/banners/atoms.jpg');
		background-position:75% 50%;

		@include tablet{
			background-image:url('../images/banners/atoms_tablet.jpg');
			@include retina{
				background-image:url('../images/banners/atoms_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/atoms_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/banners/atoms_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		width:440px;
		
		@include tablet{
			width:425px;
		}
		@include mobile{
			width:auto;
		}
		
		.banner_cta{
			border:1px solid #fff;
		}
	}
}



.banner.climberhands{
	
	.banner_image{
		background-image:url('../images/banners/climberhands.jpg');
		background-position:100% 50%;

		@include custom_breakpoint(790){
			background-image:url('../images/banners/climberhands_790.jpg');
			@include retina{
				background-image:url('../images/banners/climberhands_790@2x.jpg');
			}
		}
		@include custom_breakpoint(650){
			background-image:url('../images/banners/climberhands_650.jpg');
			@include retina{
				background-image:url('../images/banners/climberhands_650@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/climberhands_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/banners/climberhands_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		width:calc(100% - 500px);

		@include custom_breakpoint(790){
			width:calc(100% - 414px);
		}
		@include custom_breakpoint(650){
			width:calc(100% - 215px);
		}
		@include mobile{
			width:auto;
		}
		
		.banner_cta{
			border:1px solid #fff;
		}
	}

	&--de .banner_copy .banner_paragraph{
		font-size:13px;
	}
}



.banner.gender-mens{
	color:#000;
	text-align:right;
	
	.banner_image{
		background-image:url('../images/banners/gender-mens.jpg');
		background-position:35% 50%;

		@include tablet{
			background-image:url('../images/banners/gender-mens_tablet.jpg');
			@include retina{
				background-image:url('../images/banners/gender-mens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/gender-mens_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/banners/gender-mens_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		float:right;
		width:340px;
		
		@include tablet{
			width:325px;
		}
		@include mobile{
			width:auto;
			float:none;
			text-align:left;
			color:#fff;
		}
	}
	
	&--de .banner_copy{
		width:360px;
		
		@include tablet{
			width:345px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.gender-womens{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/gender-womens.jpg');
		background-position:35% 50%;

		@include tablet{
			background-image:url('../images/banners/gender-womens_tablet.jpg');
			@include retina{
				background-image:url('../images/banners/gender-womens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/gender-womens_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/banners/gender-womens_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		width:340px;
		
		@include tablet{
			width:325px;
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--de .banner_copy{
		width:360px;
		
		@include tablet{
			width:345px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.new-for-fall{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/new-for-fall.jpg');

		@include tablet{
			background-image:url('../images/banners/new-for-fall_tablet.jpg');
			@include retina{
				background-image:url('../images/banners/new-for-fall_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/new-for-fall_mobile.jpg');
			@include retina{
				background-image:url('../images/banners/new-for-fall_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		width:440px;
		
		@include tablet{
			width:425px;
		}
		@include mobile{
			width:auto;
		}
	}

	&--fr .banner_copy{
		width:450px;
		
		@include tablet{
			width:435px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.procline-boot{
	
	.banner_image{
		background-image:url('../images/banners/procline-boot.jpg');
		
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 80%, 50%, 'right', 445px, 275px);

		@include tablet{
			background-image:url('../images/banners/procline-boot_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 60%, 50%, 'right', 325px, 235px);
			@include retina{
				background-image:url('../images/banners/procline-boot_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/procline-boot_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 50%, 50%, 'right', 125px, 325px);
			@include retina{
				background-image:url('../images/banners/procline-boot_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#ff5d1c;
		}
	}
	.banner_copy{
		width:350px;
		
		@include tablet{
			width:335px;
		}
		@include mobile{
			width:auto;
		}
		
		.banner_cta{
			border:1px solid #fff;
		}
	}
	
	&--fr .banner_copy{
		width:380px;
		
		@include tablet{
			width:365px;
		}
		@include mobile{
			width:auto;
		}
	}

	&--de .banner_copy{
		width:375px;
		
		@include tablet{
			width:360px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.proton{
	text-align:right;
	
	.banner_image{
		background-image:url('../images/banners/proton.jpg');
		
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 20%, 50%, 'left', 360px, 235px);

		@include tablet{
			background-image:url('../images/banners/proton_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 40%, 50%, 'left', 360px, 235px);
			@include retina{
				background-image:url('../images/banners/proton_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/proton_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 50%, 50%, 'left', 165px, 395px);
			@include retina{
				background-image:url('../images/banners/proton_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#ff0000;
		}
	}
	.banner_copy{
		float:right;
		width:375px;
		
		@include tablet{
			width:360px;
		}
		@include mobile{
			width:auto;
		}
	}
	&--no .banner_copy{
		width:415px;

		@include tablet{
			width:400px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.satoro{
	text-align:right;
	
	.banner_image{
		background-image:url('../images/banners/satoro.jpg');
		
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 20%, 50%, 'left', 335px, 235px);

		@include tablet{
			background-image:url('../images/banners/satoro_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 40%, 50%, 'left', 335px, 235px);
			@include retina{
				background-image:url('../images/banners/satoro_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/satoro_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 50%, 50%, 'left', 135px, 395px);
			@include retina{
				background-image:url('../images/banners/satoro_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#00b4dd;
		}
	}
	.banner_copy{
		float:right;
		width:380px;
		
		@include tablet{
			width:365px;
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.voltair{
	
	.banner_image{
		background-image:url('../images/banners/voltair.jpg');
		
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 100%, 50%, 'right', 235px, 235px);

		@include tablet{
			background-image:url('../images/banners/voltair_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 80%, 50%, 'right', 225px, 265px);
			@include retina{
				background-image:url('../images/banners/voltair_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/voltair_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 50%, 50%, 'right', 135px, 195px);
			@include retina{
				background-image:url('../images/banners/voltair_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#ff5d1c;
		}
	}
	.banner_copy{
		width:495px;
		
		@include tablet{
			width:320px;
		}
		@include mobile{
			width:auto;
		}

		.banner_cta{
			border:1px solid #fff;
		}
	}
}



.banner.voltair-2{
	
	.banner_image{
		background-color:#000;
	}
	.banner_copy{
		.banner_cta{
			display:none;
			border:1px solid #fff;
			
			@include mobile{
				display:inline-block;
			}
		}
	}
}




.banner.whiteline-mens{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/whiteline-mens.jpg');
		
		@include banner_bg_and_callout_pos($desk_width, $desk_height, 60%, 50%, 'left', 645px, 130px);

		@include tablet{
			background-image:url('../images/banners/whiteline-mens_tablet.jpg');
			@include banner_bg_and_callout_pos($tablet_width, $tablet_height, 65%, 50%, 'left', 505px, 125px);
			@include retina{
				background-image:url('../images/banners/whiteline-mens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/whiteline-mens_mobile.jpg');
			@include banner_bg_and_callout_pos($mobile_width, $mobile_height, 50%, 50%, 'left', 180px, 305px);
			@include retina{
				background-image:url('../images/banners/whiteline-mens_mobile@2x.jpg');
			}
		}

		.banner_callout a span{
			color:#57ba4c;
		}
	}
	.banner_copy{
		width:375px;
		
		@include tablet{
			.banner_paragraph{
				width:210px;
			}
		}
		@include mobile{
			width:auto;
		}
	}
}



.banner.whiteline-womens{
	color:#000;
	
	.banner_image{
		background-image:url('../images/banners/whiteline-womens.jpg');
		background-position:10% 50%;

		@include tablet{
			background-image:url('../images/banners/whiteline-womens_tablet.jpg');
			background-position:35% 50%;
			@include retina{
				background-image:url('../images/banners/whiteline-womens_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/banners/whiteline-womens_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/banners/whiteline-womens_mobile@2x.jpg');
			}
		}
	}
	.banner_copy{
		width:355px;
		
		@include tablet{
			.banner_paragraph{
				width:240px;
			}
		}
		@include mobile{
			width:auto;
		}
	}
	
	&--de .banner_copy{
		width:360px;
		
		@include mobile{
			width:auto;
		}
	}
}
