@import 'breakpoints';

.landing_page{
	
	@import 'base';
	
	.btn{
		margin-top:16px;
	}

	.lp_container{
		width:100%;
		max-width:978px;
		margin:0px auto;
		padding:0px 24px;
	}

	.lp_header{
		padding:40px 0px 30px;
		
		.lp_title{
			font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			font-size:20px;
			line-height:22px;
			text-transform:uppercase;
			color:#000;
		}
		.lp_header_cta{
			float:right;
		}
	}
	
	.lp_section{
		position:relative;
		padding:40px 0px 30px;
		
		.lp_heading{
			margin-bottom:8px;
			font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			font-size:20px;
			line-height:22px;
			text-transform:uppercase;
			color:inherit;
			
			.lp_subheading{
				font-size:18px;
			}
		}
		.lp_copy{
			font-size:14px;
			line-height:18px;
			color:inherit;
		}
		.overlay{
			position: absolute;
			bottom: 0px;
			width: 100%;
			padding:24px 0px 16px;
			background-color: rgba(0,0,0,0.7);
			color:#fff;
			
			.lp_heading{
				font-size:30px;
				line-height:30px;
			}
		}
		
		&.img_section{
			height:800px;
			padding: 0px;
			background-position:50% 50%;
			background-repeat:no-repeat;
			background-size:cover;
			
			@include custom_breakpoint(1200){
				height:0px;
				padding-bottom: 66.5%;
			}
			@include tablet{
				min-height:400px;
				padding-bottom:0px;
			}
		}
		&.products_section{
			text-align:center;
			
			.lp_product_grid{
				padding-top:30px;
				
				@include tablet{
					margin:0px -24px;
				}

				.lp_product_row{
					
					.lp_product{
						position:relative;
						margin-bottom:24px;
						float:left;
						font-size:12px;
						line-height:14px;
					}
					.lp_product_grid_img{
						height:0px;
						padding-bottom:33%;
						margin-bottom:24px;
						width:50%;
						background-position:50% 50%;
						background-repeat:no-repeat;
						background-size:cover;
						float:left;
						
						@include tablet{
							padding-bottom:35%;
						}
						@include custom_breakpoint(680){
							display:none;
						}
					}
					
					&:after{
						display:block;
						content:'';
						clear:both;
					}
				}
			}
		}
		
		.goretex{
			position:absolute;
			bottom:24px;
			width:80px;
			height:80px;
			background:transparent url('../images/goretex.png') center center no-repeat;
			background-size:cover;
		}
		
		.lp_testimonial_row{
			
			&:after{
				display:block;
				content:'';
				clear:both;
			}
			
			.lp_testimonial{
				width:50%;
				padding:0px 80px 40px;
				float:left;
				
				@include tablet{
					padding:0px 50px 40px;
				}
				@include custom_breakpoint(640){
					width:100%;
					padding:0px 80px 40px;
					float:none;
				}
				@include mobile{
					padding:0px 50px 40px;
				}

				
				.lp_testimonial_quote{
					position:relative;
					
					.lp_testimonial_heading{
						font-family:"Avenir LT W01 85 Heavy",arial,sans-serif;
						text-transform: uppercase;
					}
					
					&:before{
						content:url('../images/left_quote.gif');
						position:absolute;
						top:0px;
						left:-20px;
						font-family:Helvetica;
						font-size:40px;
					}
					&:after{
						content:url('../images/right_quote.gif');
						position:absolute;
						bottom:5px;
						right:-20px;
						font-family:Helvetica;
						font-size:40px;
					}
				}
				
			}
			.lp_testimpnial_credit{
				padding-top:15px;
				text-align:right;
				
				.lp_tesimonial_author{
					font-size:12px;
				}
				.lp_tesimonial_rating{
					
				}
				.lp_tesimonial_product{
					font-size:10px;
					text-transform:uppercase;
				}
			}
		}
	}
}


.landing_page.new-for-fall{
	
	.lp_product{
		width:25%;
		height:0px;
		padding:0px 0px 33%;
		
		@include tablet{
			padding-bottom:35%;
		}
		@include custom_breakpoint(680){
			width:50%;
			padding-bottom:65%;
		}

		a{
			position:absolute;
			top:0px;
			bottom:0px;
			left:0px;
			right:0px;
			margin:0px 24px;
			text-transform: uppercase;
			
			@include tablet{
				margin:0px 16px;
			}
			
			img{
				margin-top:5px;
				margin-bottom:15px;
				max-width:100%;
				max-height:80%;
			}
		}
	}

	#lp_section_1{
		height:700px;
		background-image:url('../images/new_for_fall/section_1.jpg');
		
		@include custom_breakpoint(1200){
			height:0px;
			padding-bottom: 58%;
		}
		@include tablet{
			min-height:400px;
			padding-bottom:0px;
			background-image:url('../images/new_for_fall/section_1_tablet.jpg');
			@include retina{
				background-image:url('../images/new_for_fall/section_1_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/new_for_fall/section_1_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_1_mobile@2x.jpg');
			}
		}
	}
	#lp_section_2{
		min-height:0px;
		text-align:center;
		
		.lp_copy{
			max-width:550px;
			margin:0px auto;

			.btn{
				margin-left:8px;
				margin-right:8px;
			}

			@include mobile{
				.btn {
					display:block;
					width:220px;
					margin-right:auto;
					margin-left:auto;
				}
			}
		}
	}
	#lp_section_3{
		text-align:center;
		color:#fff;
		background-image:url('../images/new_for_fall/section_3.jpg');
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_3_tablet.jpg');
			@include retina{
				background-image:url('../images/new_for_fall/section_3_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/new_for_fall/section_3_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_3_mobile@2x.jpg');
			}
		}

		.lp_copy{
			max-width:500px;
			margin:0px auto;
			padding-top:15%;
			
			.lp_video_link{
				display:inline-block;
				margin-top:10px;
			}
		}
	}
	#lp_section_4{
		background-image:url('../images/new_for_fall/section_4.jpg');
		background-position:25% 50%;
		color:#fff;
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_4_tablet.jpg');
			background-position:40% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_4_tablet@2x.jpg');
			}
		}
		@include mobile{
			min-height: 480px;
			background-image:url('../images/new_for_fall/section_4_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_4_mobile@2x.jpg');
			}
		}
		
		.lp_copy{
			padding-top:15%;
			
			@include tablet{
				padding-top:32px;
				width:285px;
			}
			
			p{
				width:355px;
				
				@include tablet{
					width:auto;
				}
			}
			
			.btn{
				border:1px solid #fff;
				
				@include mobile{
					display:block;
					width:150px;
				}
			}
		}
	}
	#lp_section_5{
		background-image:url('../images/new_for_fall/section_5.jpg');
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_5_tablet.jpg');
			background-position:70% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_5_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/new_for_fall/section_5_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_5_mobile@2x.jpg');
			}
		}
	}
	#lp_section_6{
		
		.lp_copy{
			max-width:730px;
			margin:0px auto;
		}
	}
	#lp_section_7{
		background-image:url('../images/new_for_fall/section_7.jpg');
		background-position:25% 50%;
		color:#fff;
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_7_tablet.jpg');
			background-position:65% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_7_tablet@2x.jpg');
			}
		}
		@include mobile{
			min-height: 480px;
			background-image:url('../images/new_for_fall/section_7_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_7_mobile@2x.jpg');
			}
		}
		
		.lp_copy{
			padding-top:15%;
			width:340px;
			
			@include tablet{
				padding-top:32px;
				width:290px;
			}
			
			@include mobile{
				width:auto;
			}
			
			.btn{
				border:1px solid #fff;
				margin-right:16px;
				
				@include mobile{
					display:block;
					width:150px;
				}
			}
		}
	}
	#lp_section_8{
		background-image:url('../images/new_for_fall/section_8.jpg');
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_8_tablet.jpg');
			background-position:70% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_8_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/new_for_fall/section_8_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_8_mobile@2x.jpg');
			}
		}
	}
	#lp_section_9{
		
		.lp_copy{
			max-width:730px;
			margin:0px auto;
		}
	}
	#lp_section_10{
		background-image:url('../images/new_for_fall/section_10.jpg');
		background-position:25% 50%;
		color:#fff;
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_10_tablet.jpg');
			background-position:60% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_10_tablet@2x.jpg');
			}
		}
		@include mobile{
			min-height: 480px;
			background-image:url('../images/new_for_fall/section_10_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_10_mobile@2x.jpg');
			}
		}
		
		.lp_copy{
			padding-top:15%;
			width:380px;
			
			@include tablet{
				padding-top:32px;
				width:330px;
			}
			
			@include mobile{
				width:auto;
			}
			
			.btn{
				border:1px solid #fff;
				margin-right:16px;
				
				@include mobile{
					display:block;
					width:150px;
				}
			}
		}
	}
	#lp_section_11{
		background-image:url('../images/new_for_fall/section_11.jpg');
		
		@include tablet{
			background-image:url('../images/new_for_fall/section_11_tablet.jpg');
			background-position:30% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_11_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/new_for_fall/section_11_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/new_for_fall/section_11_mobile@2x.jpg');
			}
		}
	}
	#lp_section_12{
		
		.lp_copy{
			width:530px;
			margin:0px auto;
			
			@include mobile{
				width:auto;
			}
		}
	}
	#lp_product_grid_img_1{
		background-image:url('../images/new_for_fall/product_grid_img_1.jpg');
	}
	#lp_product_grid_img_2{
		background-image:url('../images/new_for_fall/product_grid_img_2.jpg');
	}
	#lp_product_grid_img_3{
		background-image:url('../images/new_for_fall/product_grid_img_3.jpg');
	}
	#lp_product_grid_img_4{
		background-image:url('../images/new_for_fall/product_grid_img_4.jpg');
	}
	#lp_product_grid_img_5{
		background-image:url('../images/new_for_fall/product_grid_img_5.jpg');
	}
	
}



.landing_page.atom{
	
	.lp_product{
		width:33.33333%;
		padding:0px 15px;
		
		@include tablet{
			width:100%;
			text-align:left;
		}
		@include mobile{
			text-align:center;
		}
		img{
			margin-bottom:20px;
			max-width:100%;
			
			@include tablet{
				max-width:50%;
				float:left;
			}
			@include mobile{
				max-width:100%;
				width:290px;
				margin:0px auto 20px;
				float:none;
			}

		}
		.lp_product_copy{
			
			@include tablet{
				float:left;
				padding-top:10%;
				padding-left:30px;
				max-width:275px;
				width:50%;
			}
			@include custom_breakpoint(568){
				padding-top:5%;
			}
			@include mobile{
				float:none;
				padding-top:0px;
				padding-left:0px;
				max-width:100%;
				width:290px;
				margin:0px auto;
			}
			
			.lp_product_name{
				margin-bottom:10px;
				font-size:15px;
				font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			}
		}
		
		&:after{
			display:block;
			content:'';
			clear:both;
		}
	}

	#lp_section_1{
		height:700px;
		background-image:url('../images/atom/section_1.jpg');
		
		@include custom_breakpoint(1200){
			height:0px;
			padding-bottom: 58%;
		}
		@include tablet{
			min-height:425px;
			padding-bottom:0px;
			background-image:url('../images/atom/section_1_tablet.jpg');
			@include retina{
				background-image:url('../images/atom/section_1_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/atom/section_1_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/atom/section_1_mobile@2x.jpg');
			}
		}
	}
	#lp_section_2{
		background-image:url('../images/atom/section_2.jpg');
		background-position:60% 50%;
		color:#000;
		
		@include tablet{
			background-image:url('../images/atom/section_2_tablet.jpg');
			@include retina{
				background-image:url('../images/atom/section_2_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/atom/section_2_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/atom/section_2_mobile@2x.jpg');
			}
		}
		
		.lp_copy{
			max-width:480px;
			padding-top:30px;
		}
	}
	#lp_section_3{
		text-align:right;
		color:#fff;
		background-image:url('../images/atom/section_3.jpg');
		background-position:75% 50%;
		
		@include tablet{
			background-image:url('../images/atom/section_3_tablet.jpg');
			@include retina{
				background-image:url('../images/atom/section_3_tablet@2x.jpg');
			}
		}
		@include mobile{
			background-image:url('../images/atom/section_3_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/atom/section_3_mobile@2x.jpg');
			}
		}

		.lp_pos_bottom{
			position:absolute;
			bottom:0px;
			width:100%;
			padding-bottom:30px;
		}
		.lp_copy p{
			max-width:335px;
			float:right;
		}
	}
	#lp_section_4{
		padding:0px;
		background-color:#1b1c1d;
		color:#fff;
		text-align:center;
		
		.lp_heading{
			padding:25px;
			margin:0px;
		}
		.lp_columns{
			.lp_column{
				width:33.33333%;
				float:left;
				
				@include custom_breakpoint(480){
					width:100%;
				}
				
				.lp_column_text{
					padding:25px 15px;
					
					p{
						max-width:190px;
						margin:0px auto;
					}
				}
				.lp_column_img{
					padding:0px 0px 100%;
					background-position::50% 50%;
					background-repeat:no-repeat;
					background-size:cover;
					
					@include custom_breakpoint(480){
						max-width:320px;
						margin:0px auto;
						padding-bottom:320px;
					}
					@include mobile {
						padding-bottom:100%;
					}
					&#lp_s4_col1_img{
						background-image:url('../images/atom/section_4_col_1.jpg');
					}
					&#lp_s4_col2_img{
						background-image:url('../images/atom/section_4_col_2.jpg');
					}
					&#lp_s4_col3_img{
						background-image:url('../images/atom/section_4_col_3.jpg');
					}
				}
			}
			
			&:after{
				display:block;
				content:'';
				clear:both;
			}
		}
	}
	#lp_section_5{
		
		.lp_copy{
			max-width:500px;
			margin:0px auto;
		}
		
		@include tablet{
			.lp_product:nth-child(even){
				text-align:right;
				
				.lp_product_copy{
					padding-left:0px;
					padding-right:30px;
					float:right;
				}
				img{
					float:right;
				}
			}
		}
		@include mobile{
			.lp_product:nth-child(even){
				text-align:center;
				
				.lp_product_copy{
					padding-right:0px;
					float:none;
				}
				img{
					float:none;
				}
			}
		}
	}
}
