@import 'breakpoints';

.widget{
	position: relative;
	display:table;
	height: 280px;
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	overflow: hidden;
	color:#000;
		
	@include mobile{
		height: 400px;
	}

	@import 'base';
	
	.widget_copy{
		display:table-cell;
		width:310px;
		padding-left:24px;
		padding-right:24px;
		text-align:center;
		vertical-align: middle;
		
		@include custom_breakpoint(620){
			width:50%;
		}
		
		@include mobile{
			display:block;
			position:absolute;
			bottom:0px;
			width:100%;
			height:158px;
			padding-top:15px;
		}

		.widget_logo{
			width:50px;
			height:35px;
			margin-bottom:10px;
		}
		.widget_heading{
			font-family: "Avenir LT W01 85 Heavy",arial,sans-serif;
			font-size:18px;
			line-height:22px;
			text-transform: uppercase;
		}
		.widget_cta{
			background-color:#fff;
			color:#000;
			border:1px solid #000;
			margin-top:16px;
		}
		
	}
	.widget_image{
		display:table-cell;
		background-color: transparent;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:cover;

		@include mobile{
			display:block;
			width:100%;
			height:242px;
		}

	}
}

.widget.mens-city-ames{
	.widget_image{
		background-image:url('../images/widgets/mens-city-ames.jpg');
		background-position:75% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-city-ames@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-city-ames_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-city-ames_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-city-bike{
	.widget_image{
		background-image:url('../images/widgets/mens-city-bike.jpg');
		background-position:80% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-city-bike@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-city-bike_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-city-bike_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-city-therme{
	.widget_image{
		background-image:url('../images/widgets/mens-city-therme.jpg');
		background-position:55% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-city-therme@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-city-therme_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-city-therme_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-freeride{
	.widget_image{
		background-image:url('../images/widgets/mens-freeride.jpg');
		background-position:75% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-freeride@2x.jpg');		
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-freeride_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-freeride_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-ice-climbing{
	.widget_image{
		background-image:url('../images/widgets/mens-ice-climbing.jpg');
		background-position:25% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-ice-climbing@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-ice-climbing_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-ice-climbing_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-mountain-life{
	.widget_image{
		background-image:url('../images/widgets/mens-mountain-life.jpg');
		background-position:30% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-mountain-life@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-mountain-life_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-mountain-life_mobile@2x.jpg');
			}
		}
	}
}

.widget.mens-ski-voltair{
	.widget_image{
		background-image:url('../images/widgets/mens-ski-voltair.jpg');
		background-position:10% 50%;
		@include retina{
			background-image:url('../images/widgets/mens-ski-voltair@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/mens-ski-voltair_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/mens-ski-voltair_mobile@2x.jpg');
			}
		}
	}
}




.widget.womens-city-bike{
	.widget_image{
		background-image:url('../images/widgets/womens-city-bike.jpg');
		background-position:80% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-city-bike@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-city-bike_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-city-bike_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-city-patera{
	.widget_image{
		background-image:url('../images/widgets/womens-city-patera.jpg');
		background-position:20% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-city-patera@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-city-patera_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-city-patera_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-endo{
	.widget_image{
		background-image:url('../images/widgets/womens-endo.jpg');
		background-position:80% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-endo@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-endo_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-endo_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-freeride{
	.widget_image{
		background-image:url('../images/widgets/womens-freeride.jpg');
		background-position:85% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-freeride@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-freeride_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-freeride_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-ice-climbing{
	.widget_image{
		background-image:url('../images/widgets/womens-ice-climbing.jpg');
		background-position:35% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-ice-climbing@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-ice-climbing_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-ice-climbing_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-mountain-life{
	.widget_image{
		background-image:url('../images/widgets/womens-mountain-life.jpg');
		background-position:15% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-mountain-life@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-mountain-life_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-mountain-life_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-ski-ravenna{
	.widget_image{
		background-image:url('../images/widgets/womens-ski-ravenna.jpg');
		background-position:20% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-ski-ravenna@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-ski-ravenna_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-ski-ravenna_mobile@2x.jpg');
			}
		}
	}
}

.widget.womens-ski-voltair{
	.widget_image{
		background-image:url('../images/widgets/womens-ski-voltair.jpg');
		background-position:20% 50%;
		@include retina{
			background-image:url('../images/widgets/womens-ski-voltair@2x.jpg');
		}
		
		@include mobile{
			background-image:url('../images/widgets/womens-ski-voltair_mobile.jpg');
			background-position:50% 50%;
			@include retina{
				background-image:url('../images/widgets/womens-ski-voltair_mobile@2x.jpg');
			}
		}
	}
}
